<a href="https://colab.research.google.com/github/nandhuk0706/python/blob/main/comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s={}
s.update({'name':'sundar'})
s['course'] = 'Python'
s

{'name': 'sundar', 'course': 'Python'}

In [ ]:
sq_dict = dict()

for num in range(1,6):
  sq_dict[num] = num*num
print(sq_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
odd_sq_dict = dict()

for num in range(1,6):
  if num%2!=0:
    odd_sq_dict[num] = num*num
print(odd_sq_dict)

{1: 1, 3: 9, 5: 25}

In [ ]:
# dictionary = {key:value for var in iterable if condition}
cube_dict = {num: num*num*num for num in range(1,20) if num%2==0 and num%3==0}
cube_dict

{6: 216, 12: 1728, 18: 5832}

In [ ]:
cube_dict.items()

dict_items([(6, 216), (12, 1728), (18, 5832)])

**How to use dictionary Comprehension**

In [ ]:
# item price in dollars

old_price = {
    'milk':1.02,
    'coffee':2.5,
    'bread':2.5
}

dollar_to_pound = 0.83
new_price = {
    key:value*dollar_to_pound for (key,value) in old_price.items()
}
new_price

{'milk': 0.8466, 'coffee': 2.0749999999999997, 'bread': 2.0749999999999997}

**conditions in dictionary comprehension**

In [ ]:
data = {
    'jack':38,
    'michael':48,
    'gudio':57,
    'John':33
}

even_dict = {
    key:value for (key,value) in data.items() if value%2==0
}

even_dict

{'jack': 38, 'michael': 48}

**Multiple if conditional Dictionary Comprehension**

In [ ]:
data = {
    'jack':38,
    'michael':48,
    'gudio':57,
    'John':33
}

my_dict = {key:value for (key,value) in data.items() if value%2!=0 and value<40}
my_dict

{'John': 33}

**if else conditional dictionary Comprehension**

In [ ]:
data = {
    'jack':38,
    'michael':48,
    'gudio':57,
    'John':33
}

new_data = {
    key : ( 'old' if value>40 else 'young')
    for (key,value) in data.items()
}
new_data

{'jack': 'young', 'michael': 'old', 'gudio': 'old', 'John': 'young'}

**Nested Dictionary Comprehension**

In [ ]:
dictionary = {
    k1:{k1*k2 for k2 in range(1,6)} for k1 in range(1,6)
}
dictionary

{1: {1, 2, 3, 4, 5},
 2: {2, 4, 6, 8, 10},
 3: {3, 6, 9, 12, 15},
 4: {4, 8, 12, 16, 20},
 5: {5, 10, 15, 20, 25}}

**List Comprehension**

In [ ]:
'sun'in 'sundar'

True

In [ ]:
fruits = ['apple','banana','red mango','cherry','green mango','pulpy mango']
newlist = []

for fruit in fruits:
  if 'mango' in fruit:
    newlist.append(fruit)

newlist

['red mango', 'green mango', 'pulpy mango']

In [ ]:
fruits = ['apple','banana','red mango','cherry','green mango','pulpy mango']
# list_name = [element for element in sequence if condition]
mango_list =  [fruit for fruit in fruits if 'mango' in fruit]
mango_list

['red mango', 'green mango', 'pulpy mango']

In [ ]:
div_11 = [i for i in range(1,120) if i%11==0]
div_11

[11, 22, 33, 44, 55, 66, 77, 88, 99, 110]

In [ ]:
fruits = [fruit.upper() for fruit in fruits]
fruits

['APPLE', 'BANANA', 'RED MANGO', 'CHERRY', 'GREEN MANGO', 'PULPY MANGO']

In [ ]:
fruits = [fruit if fruit!="banana".upper() else "orange".upper() for fruit in fruits]
fruits

['APPLE', 'ORANGE', 'RED MANGO', 'CHERRY', 'GREEN MANGO', 'PULPY MANGO']