<a href="https://colab.research.google.com/github/nandhuk0706/python/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=int(input("Enter a number:"))
y=int(input("Enter a number:"))
def add(x,y):
  z=x+y
  print("sum -->",z)
  return z # z value is stored and in return that can retireve from using an variable

my_return=add(x,y)
print("return value:",my_return)

Enter a number:8
Enter a number:6
sum --> 14
return value: 14

In [ ]:
add(8,9)

sum --> 17

17

In [ ]:
def DoAdd(x,y):
  """hey! There i'm Ushanandhini
  Hope everything going good
  Bless of luck for your future
  Meet you soon"""
  print("Sum of x, y",x+y)
  #return (x+y) #return statement is not used that variable value would be none

DoAdd(4,8)
my_return=DoAdd(6,7)
print("return value:",my_return)

Sum of x, y 12
Sum of x, y 13
return value: None

In [ ]:
print(DoAdd.__doc__)

hey! There i'm Ushanandhini
  Hope everything going good
  Bless of luck for your future
  Meet you soon

In [ ]:
def squre(x):
  print("squre of x is:",x**2)
  return #nothing assigned to return it just an end of function
  return(x**2) #it never print the return statement one return only execute and end the function
  print("squre of x value is printed above") #return statement is the end of function after that it never printed anything
squre(5)
my_return=squre(7)
print("return value:",my_return)

squre of x is: 25
squre of x is: 49
return value: None

In [ ]:
def printnames():
  print("Anu","thames")
  return ("Anu","thames","Ahaana")
printnames()
my_return=printnames()
print("returned value:",my_return)
type(my_return)

Anu thames
Anu thames
returned value: ('Anu', 'thames', 'Ahaana')

tuple

In [ ]:
def add():
  x=10
  y=34
  print("add of x,y:",x+y)
  return(x+y)
def squr(value):
  print("squre of value:",value**2)
  return (value**2)

squr(add()) #we can pass the value from one function to another function like this

add of x,y: 44
squre of value: 1936

1936

In [ ]:
def hey():
  print("hey hello")
def hello():
  print("hello")

hello()
hey()

hey(hello())

hello
hey hello
hello

TypeError: ignored

In [ ]:
def hey(y=None):
  print("hey hello")
def hello():
  print("hello")

hello()
hey()

hey(hello())

hello
hey hello
hello
hey hello

In [ ]:
def add(x,y):
  z=x+y
  print("sum of x, y:",z)
  return z
def squre(x):
  print("squre of x is :",x**2)
  return (x**2)

add(7,5)
squre(45)
add(add(4,5),squre(4))

sum of x, y: 12
squre of x is : 2025
sum of x, y: 9
squre of x is : 16
sum of x, y: 25

25

In [ ]:
#30%(20%number)
def percentage(percent,number):
  op=((percent/100) * number)
  print("op",op)
  return op

percentage(20,25000)

percentage(30,(percentage(20,45000)))

op 5000.0
op 9000.0
op 2700.0

2700.0

In [ ]:
#built-in function and user defined function
import sys  #built-in
sys.version

'3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]'

In [ ]:
import task
#have to create task.py import will read content of task py and print the output here is called user defined function

In [ ]:
import math
math.factorial(10)

3628800

In [ ]:
l=[4,7,8,2,4,6,8,9,34,5,7,76,43,45,674,3443,56,89]
l.sort()
l

[2, 4, 4, 5, 6, 7, 7, 8, 8, 9, 34, 43, 45, 56, 76, 89, 674, 3443]

In [ ]:
l.sort(reverse=True)
l

[3443, 674, 89, 76, 56, 45, 43, 34, 9, 8, 8, 7, 7, 6, 5, 4, 4, 2]

In [ ]:
sum(l)

4520

In [ ]:
max(l)

3443

In [ ]:
min(l)

2

In [ ]:
def cube(base, power):
  cube=base**power
  return cube

cube(5,3)

125

## Argument types
# 1-->postional argument -
it has two parameters those parameter aligned when it call  ,it will align as per the funtion call
and it has two parameter we need to give two argument in function call else it will raise an error, without argument also we cant call this function

In [ ]:
def hey(name, msg):
  print("hey",name+","+msg)

hey("Nandhu","What doing Now")

hey Nandhu,What doing Now

In [ ]:
hey("What doing Now","Nandhu")

hey What doing Now,Nandhu

# 2--> Default argument
it has default value when define the funtion, we can call funtion without this default argument.and if we give any value in function call it will over right it.

In [ ]:
def hey(name,msg="Hey!Hello"):
  print("Hey",name+","+msg)

hey("Nandhu")
hey("Nandhu","Good morning")

Hey Nandhu,Hey!Hello
Hey Nandhu,Good morning

In [ ]:
def hey(name="Nandhu",msg): #always second or last argument is the default argument. we cant keep the first argument as default one
  print("Hey",name+","+msg)

hey("Good morning")

SyntaxError: ignored

# 3--> Keyword argument
if multiple keyword present either everyone has keyword and a value or the last one alone
if first one has keyword and second or last has not will be error

In [ ]:
def hey(name, msg):
  print("Hey",name+","+msg)

hey("nandhu","Good morning")

Hey nandhu,Good morning

In [ ]:
hey(name="Gokul", msg="Good morning")

Hey Gokul,Good morning

In [ ]:
hey("Ahaana", name="Itho") #first argument for first parameter and second we defautly to first parameter, so multiple value for first parameter

TypeError: ignored

In [ ]:
hey(name="ahaana","Good morning") #either both needs keyword or second parameter can assign default not the first one

SyntaxError: ignored

In [ ]:
hey("ahaana",msg="Good morning") #here second argument has a defaukt value

Hey ahaana,Good morning

# 4--> Arbitaray argument *args
we can use multiple argument for a single parameter, it will store in tuple
as usual the last argument are may be default or usual

In [ ]:
def del_item(*data,index=-1):#-1 will delete the last item
  lis=list(data)
  lis.pop(index)
  return lis

del_item(1,3,5,6,7,8,34,54,634,232,434,355454,46,23,2323)

[1, 3, 5, 6, 7, 8, 34, 54, 634, 232, 434, 355454, 46, 23]

In [ ]:
del_item(1,3,5,6,7,8,34,54,634,232,434,355454,46,23,2323, index=4) #it will delete the forth item in the list

[1, 3, 5, 6, 8, 34, 54, 634, 232, 434, 355454, 46, 23, 2323]

In [ ]:
def greet(*names):
  for name in names:
    print("hello", name)

greet("nandhu","gokul","Ahaana","aaya","teju","Ananya","harsha","nannnsn")

hello nandhu
hello gokul
hello Ahaana
hello aaya
hello teju
hello Ananya
hello harsha
hello nannnsn

# **5--> Keyword arbitaray**  **kargs

it has two ** it will store the values in dictionary
we can give multiple values in function call

In [ ]:
def carDetails(**car):
  print("Brand-->",car['brand'])
  print("color-->",car['color'])
  print("model-->",car['model'])
  print("year-->",car['year'])
  print(type(car))

In [ ]:
carDetails(brand='Honda',year=2023,model="fjheiufh",color='red')

Brand--> Honda
color--> red
model--> fjheiufh
year--> 2023
<class 'dict'>

# Anonymous Functions
Which means a function without names are called anonymous

In [ ]:
def FunctionName():
  x=8
  y=9
  return x+y

In [ ]:
fun_ref=FunctionName #fun_ref is not a function but FunctionName funtions return value is stored here and we can call that fun_ref as function with paranthesis
fun_ref()

17

In [ ]:
FunctionName

In [ ]:
id(FunctionName), id(fun_ref) #both are same

(132993971379584, 132993971379584)

In [ ]:
type(FunctionName), type(fun_ref)

(function, function)

In [ ]:
#we can LAMDA instead using a def function for short period of time we want a function means

no_name = lambda : print("Hey!I'm Printing")  #syntax lambda , argument(x), :(colon), single line of content


no_name() #we need to call it like a function call with paranthesis

Hey!I'm Printing

In [ ]:
add=lambda x,y,z : x+y+z

total=add(4,5,6)
total

15

In [ ]:
mul = lambda x :x/3
mul(total)

5.0

In [ ]:
c= mul # here im just assigning mul varaible into an variable that total function is happening with this variable name
c(6)

2.0

In [ ]:
round(c(91))  # c(91)-->mul function 91/3 and its rounded to nearest full number

30

# lambda function has filter map and reduce in-built funtion
filter is used to filter the true results and print the true alone
map it will check all elements and print its result either it is true or false
reducd it will reduce the line of code within a line the output will come
examples below

In [ ]:
even =lambda x : (x%2==0)
even(5)

False

In [ ]:
lis=[1,2,3,4,5,6,7,8,9,10]
even_list=list(filter(lambda x :(x%2==0), lis))

even_list

[2, 4, 6, 8, 10]

In [ ]:
map_list=list(map(lambda x:(x%2==0), lis))

map_list

[False, True, False, True, False, True, False, True, False, True]

In [ ]:
map_mul=list(map(lambda x: x*5, lis))

map_mul

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
import functools

functools.reduce(lambda x,y : x if (x>y) else y,lis)

10

In [ ]:
functools.reduce(lambda x, y: x+y, lis)

55

In [ ]:
functools.reduce(lambda x, y:x+y, map_mul)

275

In [ ]:
# take some data

marks = [90,77,67,89,55,34,91]

# grace marks as 5

# identify pass marks

# top 1 marks

grace=list(map(lambda x: x+5, marks))
grace

[95, 82, 72, 94, 60, 39, 96]

In [ ]:
pass_mark = list(filter(lambda x : x >40 , grace))
pass_mark

[95, 82, 72, 94, 60, 96]

In [ ]:
functools.reduce(lambda x,y : x if (x>y) else y, pass_mark)

96