<a href="https://colab.research.google.com/github/nandhuk0706/python/blob/main/List___dictionary_sorting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# list.sort(reverse=True|False , key = myFunc)

In [ ]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [2]:
cars = ['Ford','BMW','Volvo']
cars

['Ford', 'BMW', 'Volvo']

In [3]:
cars.sort() #  ascending sort
cars

['BMW', 'Ford', 'Volvo']

In [4]:
cars.sort(reverse=True) # descending sort

cars

['Volvo', 'Ford', 'BMW']

In [7]:
def myFunc(a):
    return len(a)


cars = ['BMW', 'Ford', 'Volvo','Audi','Swift', 'Benz']

cars.sort(key=myFunc)

cars

['BMW', 'Ford', 'Audi', 'Benz', 'Volvo', 'Swift']

In [11]:
def myfun(e):
  return  e['age'],e['year']

name_list=[{'name':'usha','year':1933,'age':30},
           {'name':'Nandhu','year':1993,'age':20},
           {'name':'gokul','year':1833,'age':30}]

name_list.sort(key=myfun)
name_list

[{'name': 'Nandhu', 'year': 1993, 'age': 20},
 {'name': 'gokul', 'year': 1833, 'age': 30},
 {'name': 'usha', 'year': 1933, 'age': 30}]

In [12]:
def myFunc(e):
    return e['year'],e['age']


cars = [
    {'car':'Ford','year':2005,'age':12},
    {'car':'BMW','year':2000,"age":13},
    {'car':'Benz','year':2011,"age":4},
    {'car':'volvo','year':2000,"age":3}
]


cars.sort(key=myFunc)

cars

[{'car': 'volvo', 'year': 2000, 'age': 3},
 {'car': 'BMW', 'year': 2000, 'age': 13},
 {'car': 'Ford', 'year': 2005, 'age': 12},
 {'car': 'Benz', 'year': 2011, 'age': 4}]

dictionary sorting

In [14]:
key_value ={
    2:56,
    1:2,
    5:12,
    4:24,
    6:18,
    3:323
}

In [ ]:
key_value

{2: 56, 1: 2, 5: 12, 4: 24, 6: 18, 3: 323}

In [ ]:
key_value.items()

dict_items([(2, 56), (1, 2), (5, 12), (4, 24), (6, 18), (3, 323)])

In [ ]:
# sorted(iterable,key = key,reverse = True|False)

In [ ]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

Key Based Sort

In [ ]:
key_value.keys()

dict_keys([2, 1, 5, 4, 6, 3])

In [ ]:
sorted(key_value.keys())

[1, 2, 3, 4, 5, 6]

**Key based sort**

In [ ]:
#dic_list = list(key_value.keys())
#dic_list.sort()
for i in sorted(key_value.keys()):
  print(i , key_value[i])

1 2
2 56
3 323
4 24
5 12
6 18

In [ ]:
di = dict()
for i in sorted(key_value.keys()):
  print(i, "\t " , key_value[i] )
  di[i] = key_value[i]
print(di)

1 	  2
2 	  56
3 	  323
4 	  24
5 	  12
6 	  18
{1: 2, 2: 56, 3: 323, 4: 24, 5: 12, 6: 18}

In [ ]:
key_value.items()

dict_items([(2, 56), (1, 2), (5, 12), (4, 24), (6, 18), (3, 323)])

In [17]:
for item in key_value.items():
  print(item[1])

56
2
12
24
18
323

In [ ]:
key_value ={
    2:56,
    1:323,
    5:12,
    4:323,
    6:18,
    3:323
}

In [20]:
# value based sort
sorted(
    key_value.items(),
    key = lambda kv:
          (kv[1],kv[0])
)

[(1, 2), (5, 12), (6, 18), (4, 24), (2, 56), (3, 323)]

In [19]:
sorted(key_value.values())

[2, 12, 18, 24, 56, 323]

In [ ]:
key_value ={
    2:56,
    1:2,
    5:12,
    4:24,
    6:18,
    3:323
}

In [21]:
# key based sort

sorted(
    key_value.items(),  # iterable
    key=lambda kv:      # key
             (kv[0],kv[1])
)

[(1, 2), (2, 56), (3, 323), (4, 24), (5, 12), (6, 18)]

In [23]:
ad={31:'usha',
    72:'nandhu',
    93:'ahaana',
    94:'gokul',
    75:'priya'}
ad

{31: 'usha', 72: 'nandhu', 93: 'ahaana', 94: 'gokul', 75: 'priya'}

In [27]:
sorted(ad.keys()), sorted(ad.values()), ad.items()

([31, 72, 75, 93, 94],
 ['ahaana', 'gokul', 'nandhu', 'priya', 'usha'],
 dict_items([(31, 'usha'), (72, 'nandhu'), (93, 'ahaana'), (94, 'gokul'), (75, 'priya')]))

In [30]:
sorted(
    ad.items(),key=lambda kv : (kv[0],kv[1]) #this is for key based sorting
    )

[(31, 'usha'), (72, 'nandhu'), (75, 'priya'), (93, 'ahaana'), (94, 'gokul')]

In [31]:
sorted(
    ad.items(),key = lambda kv : (kv[1],kv[0]) #value  based sorting
)

[(93, 'ahaana'), (94, 'gokul'), (72, 'nandhu'), (75, 'priya'), (31, 'usha')]