<a href="https://colab.research.google.com/github/nandhuk0706/python/blob/main/OOPS_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class person:
  def __init__(self):
    self.name=input("enter a name:")
    #print(self.name,self)
    print(self.name)
member=person()
#name

enter a name:ahaana
ahaana

In [ ]:
member.name

'ahaana'

In [ ]:
class studentList:
  def __init__(self,name,address,age):
    self.name=name
    self.address=address
    self.age=age
    print("student Joined")

  def studentdetails(self):
    print("\nName: \t{}\nAddress:{} \nAge:\t{}\nProjects: \t{}\nHome Place:\t{}".format(self.name,self.address,self.age,self.work,self.home))
    print("*************************")

  def work(self,work):
    self.work=work
    print("\nI'm working in {} projects".format(self.work))

  def Home(self):
    self.home=input("Enter yout home place:")
    print("And my native is {}".format(self.home))

  #def getname(self):
    #self.name=name
   # print(self.name)
    #print(self)

In [ ]:
student1=studentList('nandhu','bengaluru',30)
student2=studentList('usha','salem',31)
student3=studentList('ahaana','belur',2)
student4=studentList('gokul','r.puram',29)
student5=studentList('prakash','belur',30)

student Joined
student Joined
student Joined
student Joined
student Joined

In [ ]:
student1.work('ML')
student2.work('Django')
student3.work('Python')
student4.work('SQL')
student5.work('Data analyst')

I'm working in ML projects

I'm working in Django projects

I'm working in Python projects

I'm working in SQL projects

I'm working in Data analyst projects

In [ ]:
student1.Home()
student2.Home()
student3.Home()
student4.Home()
student5.Home()

Enter yout home place:ss
And my native is ss
Enter yout home place:gger
And my native is gger
Enter yout home place:gergr
And my native is gergr
Enter yout home place:dfrfr
And my native is dfrfr
Enter yout home place:rgre
And my native is rgre

In [ ]:
student1.studentdetails()

Name: 	nandhu
Address:bengaluru
Age:	30
Projects: 	ML
Home Place:	ss
*************************

In [ ]:
student1.getname()

nandhu
<__main__.studentList object at 0x79b9c3829660>

In [ ]:
stud_lis=[student1,student2,student3,student4,student5]

for students in stud_lis:
  students.studentdetails()

Name: 	nandhu
Address:bengaluru
Age:	30
Projects: 	ML
Home Place:	ss
*************************

Name: 	usha
Address:salem
Age:	31
Projects: 	Django
Home Place:	gger
*************************

Name: 	ahaana
Address:belur
Age:	2
Projects: 	Python
Home Place:	gergr
*************************

Name: 	gokul
Address:r.puram
Age:	29
Projects: 	SQL
Home Place:	dfrfr
*************************

Name: 	prakash
Address:belur
Age:	30
Projects: 	Data analyst
Home Place:	rgre
*************************

In [ ]:
student1.work

'ML'

In [ ]:
student2.name

'usha'

In [ ]:
student3.Home() #it will update the value

Enter yout home place:thatha
And my native is thatha

In [ ]:
student3.studentdetails()

Name: 	ahaana
Address:belur
Age:	2
Projects: 	Python
Home Place:	thatha
*************************

In [ ]:
student5.home #home()function will update the value of home and student5.home is used to know the value of home in student5

'rgre'

In [2]:
class Animal:
  place="Forest"
  def __init__(self,name):
    self.name=name
    print(self.name)

  def getdata(self):
    my_data=self.name
    return my_data

a1=Animal("dog")

dog

In [3]:
d=Animal('cat')
r=d.getdata()

cat

In [6]:
r

'cat'

In [ ]:
a1.name

'dog'

In [ ]:
a1.place

'Forest'

In [ ]:
a2=Animal('Cat')

Cat

In [ ]:
a2.place

'Forest'

In [ ]:
a2.place='pet home'

In [ ]:
a2.place #temporarly it will change means loacl value but it will not affect with a1 object and once again if we run the code it will automatically changed into forest y because that is the normal value of place instance

'pet home'

In [ ]:
a1.__class__.place

'Forest'

In [ ]:
a1.__class__.place='pet animal'

In [ ]:
a2.__class__.place

'pet animal'

In [ ]:
a2.place #we changed as local value in a1 but a2 also changed this is the way to change the class attribute value permanently

'pet home'

In [ ]:
del a1.name

In [ ]:
a2.name

'Cat'

In [ ]:
a2.name="monkey" #instance attribute can easily change like this

In [ ]:
a2.name

'monkey'

In [ ]:
a1.name #we deleted the a1.name value

AttributeError: ignored

In [1]:
class person:
  def __init__(self,name):
    self.name=name
    print(self.name)

  def showname(self):
    print("my name is {}".format(self.name))

  def __del__(self): #destructor delete the entire object
    print("My name is deleted")

In [8]:
c=person('nandhu')

nandhu

In [9]:
c.showname()

my name is nandhu

In [10]:
del c

My name is deleted

In [11]:
c.showname()

NameError: ignored

In [15]:
n=person('usha')
n.showname()

usha
my name is usha

In [16]:
del n.name

In [18]:
n # the object is there we deleted the name, if we try to print name it will raise an error like, object has no atribute.

In [24]:
#encapsulation

class student:
  def __init__(abc,name,dept,yop):
    abc.name=name #its public instance anyone can access
    abc.__dept=dept #private instance no one can access inside the class we can access
    abc._yop=yop #inheritance which means class and subclass can access

  def showstu(self):
    print("\nName:\t{}\nDepartment:{}".format(self.name,self.__dept))

  def yop(self):
    print("\nYear of passing:{}".format(self._yop))

In [25]:
class Juniorstud(student): #subclass student class single and direct inheritance
  pass

In [26]:
c=student('usha','ece',2014)

In [27]:
c.showstu()

Name:	usha
Department:ece

In [28]:
c.yop()

Year of passing:2014

In [29]:
c.name

'usha'

In [31]:
c._yop

2014

In [32]:
c.__dept #we cant access outside of class

AttributeError: ignored

In [35]:
c2=Juniorstud('nandhu','EEE',2014)
c2.showstu()
c2.yop()

Name:	nandhu
Department:EEE

Year of passing:2014

In [36]:
c2._yop #its an subclass of student private instance acn access

2014

In [37]:
c2.__dept

AttributeError: ignored

In [40]:
c2._student__dept #we can access the private instance by this syntax

'EEE'

In [54]:
#pin generator

class pingenerator():
  def __init__(self):
    self.__pin=1234
#setter
  def setpin(self):
    otp=int(input("enter your otp:"))
    if otp==123456:
      self.__pin =int(input("Enter your new pin:"))
      print("Pin resetted successfully")
    else:
      print("Enter correct credentials")

#getters
  def getpin(self):
    print("Your updated pin:",self.__pin)

In [55]:
pg=pingenerator()

In [56]:
pg.getpin()

Your updated pin: 1234

In [57]:
pg.setpin()

enter your otp:123456
Enter your new pin:2589
Pin resetted successfully

In [58]:
pg.getpin()

Your updated pin: 2589

In [59]:
pg._pingenerator__pin

2589

In [91]:
#inheritance and super keyword
class Forest():
  def __init__(self):
    print("Forest created")
class Animal(Forest):
  def __init__(self):
    #super().__init__() #super keyword is used to call immediate base class if i call here it will print forest created
    Forest.__init__(self)
    print("Animal created")
  def whoami(self):
    print("Animal")
  def eat(self):
    print("Eating")


class Dog(Animal):
  def __init__(self):
    Animal.__init__(self)
    super().__init__() #if i call here it will animal created two times because of animal class initated here
    print("Dog created")
  def whoami(self):
    print("Dog")

  def bark(self):
    print("woof woof")
    super().whoami() #it will call immediate class's whoami function

In [87]:
d=Dog()

Forest created
Animal created
Forest created
Animal created
Dog created

In [93]:
d.whoami() #method overriding both class has whoami function it will print the recent element of dof class

Dog

In [92]:
d.eat() #its not dog class so its print from animal class

Eating

In [94]:
d.bark() #animal is printing because its in immediate whoami function value

woof woof
Animal

In [1]:
#two base one sub class called multiple inheritance
class Personal:
  def Personal_info(self,name,age):
    self.name=name
    self.age=age
    print("\nPersonal Info\nName:\t{}\nAge:\t{}".format(self.name,self.age))

class Official:
  def Employee_info(self,designation,skill):
    self.designation=designation
    self.skill=skill
    print("\nEmployee Info\nDesignation:\t{}\nSkill:\t{}".format(self.designation,self.skill))

class Package(Personal,Official): #two base one sub class called multiple inheritance
  def Package(self,package):
    self.package=package
    self.eop=package*12
    print("\nSalary Info\nPackage:\t{}\nEOP:\t{}".format(self.package,self.eop))

In [2]:
emp=Package()

In [4]:
emp.Personal_info('usha',30)
emp.Employee_info("developer",'python')
emp.Package(55000)

Personal Info
Name:	usha
Age:	30

Employee Info
Designation:	developer
Skill:	python

Salary Info
Package:	55000
EOP:	660000

In [5]:
#multilevel inhertance which is one one grandparent parent and son type of inheritance

class grandparent():
  def thatha(self,t_name,p_name):
    self.t_name=t_name
    self.p_name= p_name

class parent(grandparent):
  def appa(self,ap_name,am_name):
    self.ap_name=ap_name
    self.am_name=am_name

class me(parent):
  def me(self,my_name,hus_name):
    self.my_name=my_name
    self.hus_name=hus_name
    print("My Family Details\nThatha:\t{}\nAyya:\t{}\nAppa:\t{}\nAmma:\t{}\nMe:\t{}\nMy Husband:{}\t".format(self.t_name,self.p_name,self.ap_name,self.am_name,self.my_name,self.hus_name))

In [6]:
fam=me()

In [7]:
fam.thatha("Muniyan",'Thaily')
fam.appa('Krishna','Chithra')
fam.me('Nandhu','Gokul')

My Family Details
Thatha:	Muniyan
Ayya:	Thaily
Appa:	Krishna
Amma:	Chithra
Me:	Nandhu
My Husband:Gokul

In [9]:
me.mro()#methode resolution order

[__main__.me, __main__.parent, __main__.grandparent, object]

In [14]:
#hierarchical inheritance means one parent lot of child
class Parent:
  def pt(self):
    print("Parent Present")

class Child1(Parent):
  def c1(self):
    print("Child1 Present")

class Child2(Parent):
  def c2(self):
    print("Child2 Present")

Child2.mro()
p=Child2()

In [15]:
p.pt()
p.c2()
p.c1()

Parent Present
Child2 Present

AttributeError: ignored

In [10]:
class number1:
  def n1(self):
    print ("Number1 exits")

class number2(number1): #it can retrive number1 and 2 values
  def n2(self):
    print("Number2 exits")

class number3(number1): # it can retrive number3 and 1 values
  def n3(self):
    print("Number3 exits")

class nu12(number2,number1): #here number2 must be in first element (it can retrive number 1, 2and nu12 values)
#((((Multilple inheritance once subclass is base class and base class is also base class here))))
  def n1_2(self):
    print("Number1 and 2 included")

class number4(number3):# it can retrive number 4 and number 3 values
  def n4(Self):
    print("Number4 exits")

In [34]:
num=nu12()
num.n1()
num.n2()
num.n1_2()
#num.n3()

Number1 exits
Number2 exits
Number1 and 2 included

In [42]:
num0=number1()
num0.n1()
#num0.n2()
#num0.n3()

Number1 exits

In [35]:
num1=number3()
num1.n3()
num1.n1()

Number3 exits
Number1 exits

In [39]:
num2=number4()
num2.n4()
num2.n3()
num2.n1()

Number4 exits
Number3 exits
Number1 exits

AttributeError: ignored

In [9]:
class Vehicle:  # hierachical
  def vehicle_info(self):
    print("Vehicle Class")

class Car(Vehicle):
  def car_info(self):
    print("car Class")

class Truck(Vehicle):
  def truck_info(self):
    print("truck Class")

class SportsCar(Car,Vehicle): # multiple inh
  def sports_car_info(self):
    print("Sports car Class")

class SportsBike(Vehicle):
  def sports_bike_info(self):
    print("Sports Bike Class")