<a href="https://colab.research.google.com/github/nandhuk0706/python/blob/main/operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=82
b=9

In [ ]:
a+b

91

In [ ]:
a-b

73

In [ ]:
a*b

738

In [ ]:
a/b #division

9.11111111111111

In [ ]:
a//b  #floor division

9

In [ ]:
a%b  #modulas gives remainder

1

In [ ]:
import xmen
#habe tp create xmen.py file we can code there and access here

ModuleNotFoundError: ignored

In [ ]:
import math

In [ ]:
help(math.floor)

Help on built-in function floor in module math:

floor(x, /)
    Return the floor of x as an Integral.

    This is the largest integer <= x.

In [ ]:
c=a/b
math.floor(c)

9

In [ ]:
a/b

9.11111111111111

In [ ]:
math.ceil(c)

10

In [ ]:
math.factorial(math.floor(c)) #9*8*7*6*5*4*3*2*1

362880

In [ ]:
round(c)

9

In [ ]:
round(5.6)

6

**Compartive operators**

In [ ]:
a>b

True

In [ ]:
a<b

False

In [ ]:
a==b,a>=b,a<=b,a!=b

(False, True, False, True)

**Logical operators**

In [ ]:
#if condition will pass by true statements
c=a>b
if c:
  print("a is greater")
else:
  print("a is lesser")

a is greater

and ==> have to be true in all statements
or ==> anyone statement is true
not  ==>true means false and vise

In [ ]:
maths=int(input("enter maths score:"))
sci=int(input("enter science score"))

if maths>=90 and sci>=80 :
  print("all pass")
if maths>=90 or sci>=80 :
  print("partially pass")

enter maths score:92
enter science score86
all pass
partially pass

In [ ]:
raining= False
if not raining:
  print("go to office")
else:
  print("drink coffee")

go to office

Identity operators

In [ ]:
l=10
j=10
id(l),id(j)

(136992093110800, 136992093110800)

In [ ]:
id(l)==id(j)

True

In [ ]:
l is j

True

In [ ]:
x=10
assert x==10
if x>5:
  print("pass")
else:
  print("fail")

pass

In [ ]:
x=10
assert x==4 #we cant change the assert variables in further code
print(x)

AssertionError: ignored


```
# Bitwise operator

     and           or        xor        not
1  1  1            1          0         1    0
0  1  0            1          1         0    1
1  0  1            1          1
0  0  1            0          0

```

In [ ]:
a=10   # 1010
b=2    #0010
a&b,a|b,a^b

(2, 10, 8)

In [ ]:
~a  #-(a+1)

-11

**Left and Right shift operators**

In [ ]:
a<<b  #a*2 to the power of b   10*2^2

40

In [ ]:
a>>b  #a/2 to power of b 10/2^2    Float value rounded into integer

2

Assignment operators

In [ ]:
a=5
b=3
a +=4
a

9

In [ ]:
a -=2
a

7

In [ ]:
a*=5
a

35

In [ ]:
a/=3
a

11.666666666666666

In [ ]:
a**=2
a

136.1111111111111

In [ ]:
s=12
s^=3
s

15

**NEsted if statements**

In [ ]:
t=int(input("enter test1 score:"))
if t>=80:
  print("test1 cleared")
  t2=int(input("enter test2 score:"))
  if t2>=75:
    print("test2 cleared and all pass")
  else:
    print("test2 alone failed")
else:
  print("test1 failed,try again next time")

avg=(t+t2)/2
print("the average of your test cases {}".format(avg))

enter test1 score:86
test1 cleared
enter test2 score:56
test2 alone failed
the average of your test cases 71.0

**in every statement have some condition if not we need give pass statement empty statements are not acceptable**

While loop and FOR Loops

In [5]:
x=1
while x<=6:
  print (x)
  x +=1

print(x,"final")

1
2
3
4
5
6
7 final

In [11]:
x=1
y=0
while x< 6:
  x +=1
  y +=x
  print(x)

print("sum of all numbers:", y ,sep=("-->"))

2
3
4
5
6
sum of all numbers:-->20

In [18]:
s=int(input("Enter a Number:"))
total =0
while s !=0:
  total +=s
  s=int(input("Eneter a number"))

print(total)

Enter a Number:8
Eneter a number56
Eneter a number20
Eneter a number33
Eneter a number89
Eneter a number45
Eneter a number36
Eneter a number23
Eneter a number12
Eneter a number00
322

In [22]:
v=1
while v <6:
  v +=1
  print(v, end="-->")
print("Loop Expired")

2-->3-->4-->5-->6-->Loop Expired

In [2]:
d=0
while d<6:
  d +=1
  print(d)
  if d==3:
    break
print(d,"I'm out of loop")

1
2
3
3 I'm out of loop

In [10]:

while True:
  data=input("Enter the data:")
  if data =="exit":
    break
print(data)

Enter the data:sfasfg
Enter the data:saewd
Enter the data:ertefckjkn
Enter the data:rfds
Enter the data:sd
Enter the data:afdsg
Enter the data:asd
Enter the data:xit
Enter the data:exit
exit

In [12]:
y=1
while y< 6:
  print(y)
  y +=1
  if y==4:
    break
  else:
    print("Loop expired")
print("I got killed")

1
Loop expired
2
Loop expired
3
I got killed

In [16]:
c=1
while c<6:
  print(c)
  if c == 4:
    break
  c+=1
else:
  print("Loop expired")
print("I got killed")

1
2
3
4
I got killed

In [17]:
c=1
while c<6:
  print(c)
  if c == 14:
    break
  c+=1
else:
  print("Loop expired")
print("I got killed")

1
2
3
4
5
Loop expired
I got killed

In [21]:
guess = 10
while guess:
  n =int(input("Enter your Guessing number:"))
  if guess >n :
    print("Guessed number is lesser than your original number")
  elif guess<n:
    print("Guessed number is greater than your original number")
  elif guess == n:
    print("You guessed IT!")
    break
print("Your guessed number is :", n)

Enter your Guessing number:5
Guessed number is lesser than your original number
Enter your Guessing number:6
Guessed number is lesser than your original number
Enter your Guessing number:12
Guessed number is greater than your original number
Enter your Guessing number:10
You guessed IT!
Your guessed number is : 10

In [26]:
name="ahaanausha"
index=0
vowels=[]
non_vowels=[]
while index < len(name):
  element=name[index]
  if element=='a' or element =='e' or element == 'i' or element =='o' or element =='u':
    print(element, "is vowel")
    vowels.append(element)
  else:
    print(element, "is non-vowel")
    non_vowels.append(element)
  index +=1
print("vowels are -->",vowels)
print("non_vowels are -->",non_vowels)

a is vowel
h is non-vowel
a is vowel
a is vowel
n is non-vowel
a is vowel
u is vowel
s is non-vowel
h is non-vowel
a is vowel
vowels are --> ['a', 'a', 'a', 'a', 'u', 'a']
non_vowels are --> ['h', 'n', 's', 'h']

In [5]:
i =1
while i <10:

  i +=1
  if i==5:
    continue
  print(i)
else:
  print("hey There")

2
3
4
6
7
8
9
10
hey There

In [9]:
#checking the pin validation
attempts =0
while attempts <=3:
  pin=int(input("Enter the pin:"))
  attempts +=1
  if pin !=1234:
    print("Re-Enter the pin")
    print("Attempts:{}".format(attempts))
  else:
    print("Login success")
    break

  if attempts > 3:
    print("locked")
    break

Enter the pin:1253
Re-Enter the pin
Attempts:1
Enter the pin:5689
Re-Enter the pin
Attempts:2
Enter the pin:45689
Re-Enter the pin
Attempts:3
Enter the pin:6588
Re-Enter the pin
Attempts:4
locked

In [11]:
#factorial of n
n= int(input("Enter the number of factorial you want:"))
f=1

while n >=1:
  f = f*n
  n -=1
  print(f ,n)

print("Factorial of {}".format(n),"is",f)

Enter the number of factorial you want:5
5 4
20 3
60 2
120 1
120 0
Factorial of 0 is 120

In [23]:
#fibbo series

n_terms=int(input("Enter the number of terms you want:"))
count=0
a=0
n1=0
n2=1
l=[n1,n2]
while n_terms > count:
  print(n1,n2,"before swap")
  nth= n1+ n2
  a +=nth

  print(nth)

  n1 =n2
  n2 =nth
  l.append(n2)
  print(n2,nth,"after swap")
  count +=1
a =a+1
print("fibbo series of {}".format(n_terms),"is", nth)
print("list of fibbo{}".format(l))
print("addition of all is {}".format(a))

Enter the number of terms you want:9
0 1 before swap
1
1 1 after swap
1 1 before swap
2
2 2 after swap
1 2 before swap
3
3 3 after swap
2 3 before swap
5
5 5 after swap
3 5 before swap
8
8 8 after swap
5 8 before swap
13
13 13 after swap
8 13 before swap
21
21 21 after swap
13 21 before swap
34
34 34 after swap
21 34 before swap
55
55 55 after swap
fibbo series of 9 is 55
list of fibbo[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
addition of all is 143

For loop
is used to iterate the sequence of items
iterate means one complete rotation of loop
like in while loop while x<=3: x +=1
x incrementation of one loop is one iteration

In [26]:
names= ["nandhu","usha","ahaana","gokul","prakash","teju","ananya"]
for x in names:
  print(x)

nandhu
usha
ahaana
gokul
prakash
teju
ananya

In [30]:
for x in "GOKULPRAKASH":
  print("*&*&*",x,"*&*&*", end=" U There\n")

*&*&* G *&*&* U There
*&*&* O *&*&* U There
*&*&* K *&*&* U There
*&*&* U *&*&* U There
*&*&* L *&*&* U There
*&*&* P *&*&* U There
*&*&* R *&*&* U There
*&*&* A *&*&* U There
*&*&* K *&*&* U There
*&*&* A *&*&* U There
*&*&* S *&*&* U There
*&*&* H *&*&* U There

In [32]:
names_list={
    "name":"nandhu",
    "age":30,
    "place":["bangalore","chennai","hosur"]
}

In [33]:
names_list.keys()

dict_keys(['name', 'age', 'place'])

In [34]:
names_list.values()

dict_values(['nandhu', 30, ['bangalore', 'chennai', 'hosur']])

In [39]:
for key in names_list: #key is the keyword cant use some other word to get the keys from dictionary
  print(key,names_list[key])

name nandhu
age 30
place ['bangalore', 'chennai', 'hosur']

In [41]:
for key in names_list.keys():
  print(key)

name
age
place

In [42]:
for values in names_list.values():
  print(values)

nandhu
30
['bangalore', 'chennai', 'hosur']

In [45]:
for item in names_list.items():
  print(item[0],item[1],type(item))

name nandhu <class 'tuple'>
age 30 <class 'tuple'>
place ['bangalore', 'chennai', 'hosur'] <class 'tuple'>

In [2]:
color={'red','green','orange','blue','pink'}
for colors in color:
  print (colors)

orange
red
green
pink
blue

In [3]:
for x in range (6):
  print(x)

0
1
2
3
4
5

In [4]:
for x in range(0,7,2):
  print(x)

0
2
4
6

In [9]:
color=['red','orange','blue','green','yellow','pink','purple']
for c in range (0,len(color),2):
  print(color[c])
else:
  print(color)

red
blue
yellow
purple
['red', 'orange', 'blue', 'green', 'yellow', 'pink', 'purple']

In [10]:
marks=[20,25,45.56,85,96,52,63,58,69,47,74,85,96,15,42,63]
H_mark=[]
L_mark=[]
for mark in marks:
  if mark > 50:
    H_mark.append(mark)
  else:
    L_mark.append(mark)
print(H_mark)
print(L_mark)

[85, 96, 52, 63, 58, 69, 74, 85, 96, 63]
[20, 25, 45.56, 47, 15, 42]

In [15]:
for colors in color:
  print(colors)
  if colors == 'gren':
    break
else:
    print("no more colors")
print("all completed")

red
orange
blue
green
yellow
pink
purple
no more colors
all completed