<a href="https://colab.research.google.com/github/nandhuk0706/python/blob/main/Tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
guess = 10
while guess:
  n =int(input("Enter your Guessing number:"))
  if guess >n :
    print("Guessed number is lesser than your original number")
  elif guess<n:
    print("Guessed number is greater than your original number")
  elif guess == n:
    print("You guessed IT!")
    break
print("Your guessed number is :", n)

Enter your Guessing number:5
Guessed number is lesser than your original number
Enter your Guessing number:6
Guessed number is lesser than your original number
Enter your Guessing number:12
Guessed number is greater than your original number
Enter your Guessing number:10
You guessed IT!
Your guessed number is : 10

In [ ]:
#checking the pin validation
attempts =0
while attempts <=3:
  pin=int(input("Enter the pin:"))
  attempts +=1
  if pin !=1234:
    print("Re-Enter the pin")
    print("Attempts:{}".format(attempts))
  else:
    print("Login success")
    break

  if attempts > 3:
    print("locked")
    break

Enter the pin:1253
Re-Enter the pin
Attempts:1
Enter the pin:5689
Re-Enter the pin
Attempts:2
Enter the pin:45689
Re-Enter the pin
Attempts:3
Enter the pin:6588
Re-Enter the pin
Attempts:4
locked

In [ ]:
#factorial of n
n= int(input("Enter the number of factorial you want:"))
f=1

while n >=1:
  f = f*n
  n -=1
  print(f ,n)

print("Factorial of {}".format(n),"is",f)

Enter the number of factorial you want:5
5 4
20 3
60 2
120 1
120 0
Factorial of 0 is 120

In [ ]:
#fibbo series

n_terms=int(input("Enter the number of terms you want:"))
count=0
a=0
n1=0
n2=1
l=[n1,n2]
while n_terms > count:
  print(n1,n2,"before swap")
  nth= n1+ n2
  a +=nth

  print(nth)

  n1 =n2
  n2 =nth
  l.append(n2)
  print(n2,nth,"after swap")
  count +=1
a =a+1
print("fibbo series of {}".format(n_terms),"is", nth)
print("list of fibbo{}".format(l))
print("addition of all is {}".format(a))

Enter the number of terms you want:9
0 1 before swap
1
1 1 after swap
1 1 before swap
2
2 2 after swap
1 2 before swap
3
3 3 after swap
2 3 before swap
5
5 5 after swap
3 5 before swap
8
8 8 after swap
5 8 before swap
13
13 13 after swap
8 13 before swap
21
21 21 after swap
13 21 before swap
34
34 34 after swap
21 34 before swap
55
55 55 after swap
fibbo series of 9 is 55
list of fibbo[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
addition of all is 143

In [ ]:
#making 1 to 5 tables
l=[5,6]
r=[1,2,3,4,5,6]
for left in l:
  for right in r:
    print("{}*{}={}".format(left, right,left*right))
  print("*********")

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
*********
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
*********

In [ ]:
row=5
col=5
for x in range(0,row+1):
  for y in range(0,x):
    print("*", end="")
  print(end="\n")
for x in range(0,row+1):
  for y in range(col-x):
    print("*", end="")
  print(end="\n")

*
**
***
****
*****
*****
****
***
**
*

In [ ]:
s=int(input("Enter the number of rows/columns:"))
for x in range(0,s):
  for y in range(0,x+1):
    print(y,end=" ")
  print(end="\n")

Enter the number of rows/columns:4
0
0 1
0 1 2
0 1 2 3

In [ ]:
s=int(input("Enter the number of rows/columns:"))
for x in range(0,s+1):
  for y in range(s-x):
    print(y,end=" ")
  print(end="\n")

Enter the number of rows/columns:4
0 1 2 3
0 1 2
0 1
0

In [ ]:
r=5
col=5
for x in range(0,r+1):
  for y in range(0,col+1):
    print("*",end=" ")
  print(end="\n")

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [ ]:
#reversing the number 1234 into 4321

num=input("enter the number for reversing:")
rev=num[::-1]
print(rev)

enter the number for reversing:852369
963258

In [ ]:
#adding in for loop
marks = [91,89,75,99,100,100]
x=0
for mark in marks:
  x +=mark
print("Total of marks:{}".format(x))

Total of marks:554

In [ ]:
#factorial in for loop
n=5

for x in range(1,5):

  x *=n
  n -=1
  print(n,x)
print(x)

f=1
m=5
while m>=1:
  f=f*m
  m -=1
print(f)

4 5
3 8
2 9
1 8
8
120

In [ ]:
#prime number checking
p=int(input("enter the number for prime :"))
n=1
if p ==1:
  print("It's an not an prime number")
elif p >1:
  for i in range (2,p):
    print(i)
    if p%i == 0:
      print("It's not an prime number")
      #break
  else:
      print("It's an prime")

enter the number for prime :11
2
3
4
5
6
7
8
9
10
It's an prime

In [ ]:
16%3,16/3,16//3

(1, 5.333333333333333, 5)

In [47]:
p=2
n=0
pl=[]
while n<10:
  if p ==1:
    print("It's an not an prime number")
  elif p >1:
    for i in range (2,p):
      if p%i == 0:
        #print(i)
        print("It's not an prime number {},{}".format(p,i))
        p +=1

    else:
      #print(i)
      print("It's an prime {}".format(p))
      pl.append(p)
      p+=1
      n +=1

print(pl)

It's an prime 2
It's an prime 3
It's not an prime number 4,2
It's an prime 5
It's not an prime number 6,2
It's an prime 7
It's not an prime number 8,2
It's not an prime number 9,3
It's not an prime number 10,5
It's an prime 11
It's not an prime number 12,2
It's an prime 13
It's not an prime number 14,2
It's not an prime number 15,3
It's not an prime number 16,4
It's an prime 17
It's not an prime number 18,2
It's an prime 19
It's not an prime number 20,2
It's not an prime number 21,3
It's not an prime number 22,11
It's an prime 23
It's not an prime number 24,2
It's not an prime number 25,5
It's not an prime number 26,13
It's an prime 27
[2, 3, 5, 7, 11, 13, 17, 19, 23, 27]

In [ ]:
19%4

3

In [ ]:
#finding armstrong numbers using cubes
x=0
number=input("Enter an number:")
for n in number:
  x= x+(int(n)**3)
  print(x)
if x == int(number):
  print ("It's an amstrong number")
else:
  print("It's not an amstrong number")

Enter an number:407
64
64
407
It's an amstrong number

In [ ]:
#checking the palindrome words
name=input("enter a word:")
rev=name[::-1]
if name == rev:
  print ("Its an palindrome word")
else:
  print("It's not an palidrome word")

enter a word:madam
Its an palindrome word

In [ ]:
#finding leap year
year=int(input("Enter the year:"))
if (year%400 == 0) and (year%100==0):
  print("It's an leap year")
elif (year%4==0):
  print("It's an leap year")
else:
  print("It's not an leap year")

Enter the year:2024
It's an leap year

In [ ]:
#functions
#passing value from one funtion to another function

def add():
  x=int(input("Enter the x value:"))
  y=int(input("Enter the y value:"))
  z=x+y
  print("Sum of x, y values:",z)
  return z
def squre(value):
  print("squre of value is :",value**2)
  return value**2

my_return=squre(add())
print(my_return)

Enter the x value:56
Enter the y value:63
Sum of x, y values: 119
squre of value is : 14161
14161

In [ ]:
def squre():
  e=int(input("Enter a number:"))
  ee=e**2
  print(ee)
  return ee

def squre_root(x):
  z=x**(1/2)
  print("squre root of x is:",z)
  return z

squre_root(squre())

Enter a number:56
3136
squre root of x is: 56.0

56.0

In [ ]:
#getting a list and check it has duplicates and find first and last element are same

def getList(my_list):
  return my_list

In [ ]:
num=int(input("Enter a number of list want to create:"))
my_list=list()
for i in range(num):
  value=int(input("enter list elements:"))
  my_list.append(value)

getList(my_list)

Enter a number of list want to create:8
enter list elements:12
enter list elements:23
enter list elements:23
enter list elements:56
enter list elements:24
enter list elements:12
enter list elements:23
enter list elements:12

[12, 23, 23, 56, 24, 12, 23, 12]

In [ ]:
def checkElements(my_list):
  if my_list[0]== my_list[-1]:
    print("It's same",my_list[0],my_list[-1])
  else:
    print("It's not same",my_list[0],my_list[-1])
  return

checkElements(my_list)

It's same 12 12

In [ ]:
def checkDuplicates(my_list):
  if len(my_list)==len(set(my_list)):
    print("No duplicates found")
  else:
    print("Duplicates Found")
  return set(my_list)

checkDuplicates(my_list)

Duplicates Found

{12, 23, 24, 56}

In [ ]:
print(my_list)

[12, 23, 23, 56, 24, 12, 23, 12]

In [ ]:
def squrt(my_list):
  sum_=sum(my_list) #sum_ will add all the list and store in sum_
  return sum_**0.5 #getting squre root of sum from the list elements

squrt(my_list)

13.601470508735444

In [35]:
#checking prime using functions
def checkPrime():
  n=int(input("Enter a number:"))
  flag =False
  if n == 1:
    print("{} is an prime nor composite".format(n))
  elif n > 1 :
    for i in range(2,n):
           #print(n%i)
      if n%i == 0:
        flag = True
        print("{} is divisible is {}".format(n,i))
        break



    if flag:
      print("{} not an prime number".format(n))
    else:
      print("{} is an prime number".format(n))

checkPrime()

Enter a number:6
6 is divisible is 2
6 not an prime number

In [74]:
#lower=2
#upper=17
def checkPrime(lower,upper):
  prime_list=list()
  for i in range(lower,upper+1):
    if i%lower ==0:
      continue
      print("{} is not an prime number".format(i))

    else:
      #print("{} is an prime number".format(i))
      prime_list.append(i)
  print(prime_list)
  print(len(prime_list))

checkPrime(2,71)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71]
35